<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Drag and drop example</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>How to deploy</span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon>more_horiz</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>verified_user</mat-icon>
    </button>
    <button mat-icon-button (click)="horizontal()">
      <mat-icon>swap_horizontal_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="vertical()">
      <mat-icon>vertical_align_bottom</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>

<app-todo [condition]="pageHorizontal"></app-todo>

<router-outlet></router-outlet>
